Package: kdg-kiosk
Version: 1
Architecture: amd64
Maintainer: olivier peeters <olivier.peeters.2@student.kdg.be>
Installed-Size: 49
Depends: squid, chromium, xbindkeys
Section: misc
Priority: optional
Description: kdg kiosk
