[Desktop Entry]
Version=1.0
Type=Application
Name=Install KdG Kiosk
Comment=Download and install KdG Kiosk from GitHub
Exec=sh -c "cd $(dirname %k) && pkexec python3 ./install-kdg-kiosk.py"
Icon=system-software-install
Terminal=false
Categories=System;Settings;
StartupNotify=true
Keywords=kiosk;install;setup;

